<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:url"                content="http://writerightpodcast.github.io{{ page.url }}" />
    <meta property="article:author"        content="Texas A&amp;M University Writing Center" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="{{ page.title }}" />
    <meta property="og:description"        content="{{ page.summary }}" />
    <meta property="og:image"              content="/img/facebook.png" />
    <title>{{ site.description }}</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="icon" 
        type="image/png" 
        href="../img/favicon.png">
</head>
<body>
  <div class="sidebar">
    <a href="/" class="logo">
      <img src="/img/logo.png">
    </a>
    <h1 class="porter"><center>Use Your Words.</center></h1>
  </div>
  <div class="uwc-logo">
    <a class="logo" href="http://uwc.tamu.edu">
      <img src="/img/uwc_logo.png">
    </a>
  </div>
  <div class="wrapper">
    {{ content }}
  </div>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73710677-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
