<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site.description }}</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link href="img/logo.jpg" rel="shortcut icon">
</head>
<body>
  <div class="sidebar">
    <a href="/" class="logo">
      <img src="/img/logo.png">
    </a>
  </div>
  <div class="wrapper">
    <h1><marquee scrolldelay="60">Write Right - a podcast about how to do words and stuff</marquee></h1>
    <h1>{{ page.title }}</h1>

    <div class="post-body">
      {{ content }}
    </div>
  </div>
</body>
</html>
