<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site.description }}</title>
    <link href="/../css/styles.css" rel="stylesheet" type="text/css">
    <link href="/../img/logo.jpg" rel="shortcut icon">
</head>
<body>
  <div class="sidebar">
    <a href="/" class="logo">
      <img src="/img/logo.png">
    </a>
    <h1 class="porter"><center>Use Your Words.</center></h1>
  </div>
  <div class="wrapper">
    <h1>{{ page.title }}</h1>
    <div class="post-body">
      {{ content }}
      {% if page.previous.url %}
        <a class="prev" href="{{page.previous.url}}"> &laquo;Previous </a>
      {% endif %}
      {% if page.next.url %}
        <a class="next" href="{{page.next.url}}"> Next&laquo; </a>
      {% endif %}
    </div>
  </div>
</body>
<footer class="footer">
  <a href="http://uwc.tamu.edu">
      <img src="/img/uwc_logo.png">
  </a>
</footer>
</html>
