<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:url"                content="http://writerightpodcast.github.io{{ page.url }}" />
    <meta property="article:author"        content="Texas A&amp;M University Writing Center" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="{{ page.title }}" />
    <meta property="og:description"        content="{{ page.summary }}" />
    <meta property="og:image"              content="/img/facebook.png" />
    <title>{{ site.description }}</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="icon" 
        type="image/png" 
        href="../img/favicon.png">
</head>
<body>
  <div class="sidebar">
    <a href="/" class="logo">
      <img src="/img/logo.png">
    </a>
    <h1 class="porter"><center>Use Your Words.</center></h1>
  </div>
  <div class="uwc-logo">
    <a class="logo" href="http://uwc.tamu.edu">
      <img src="/img/uwc_logo.png">
    </a>
  </div>
  <div class="wrapper">
    <h1>{{ page.title }}</h1>
    <div class="post-body">
      {{ page.summary }}
      <br><br><br>
      <center>
        <audio controls>
          <source src="{{ page.enclosure}}" type="{{ page.type }}">
        </audio>
      </center>
      <br><br>
      Write Right is a production of the Texas A&amp;M University Writing Center, a service of the Department of Undergraduate Studies. The UWC is dedicated to helping students become better communicators through whichever medium they are working in. Open to all Texas A&amp;M students, the writing center offers both face-to-face and online consultations. Make an appointment at <a href="http://writingcenter.tamu.edu">writingcenter.tamu.edu.</a> <br> <br> Find us on Twitter and Instagram as @tamuwc<br><br><br>
      {% if page.previous.url %}
        <a class="prev" href="{{page.previous.url}}"> &laquo;Previous </a>
      {% endif %}
      {% if page.next.url %}
        <a class="next" href="{{page.next.url}}"> Next&raquo; </a>
      {% endif %}
    </div>
  </div>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73710677-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
